# Pandas series creation

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# 1. creating a Series from a Python list with default numeric index
myindex = ['USA', 'Canada', 'England']
mydata = [1776, 1867, 1821]

In [ ]:
# Series with default integer index
myser = pd.Series(data=mydata)
print("Series with default index:\n", myser)

Series with default index:
 0    1776
1    1867
2    1821
dtype: int64

In [ ]:
# 2. Creating a Series with a custom index
myser = pd.Series(data=mydata, index=myindex)
print("Series with named index:\n",myser)

Series with named index:
 USA        1776
Canada     1867
England    1821
dtype: int64

In [ ]:
# 3. Creating a Series from a NumPy array
ran_data = np.random.randint(0,100,5)
print("NumPy array:\n",ran_data)

NumPy array:
 [55 80 52  1 83]

In [ ]:
names = ['Andrew', 'Bobo', 'Claire', 'David', 'Emma']
ages = pd.Series(data=ran_data, index=names)
print("Series from NumPy array:\n",ages)

Series from NumPy array:
 Andrew    55
Bobo      80
Claire    52
David      1
Emma      83
dtype: int64

In [ ]:
# 4. Creating a Series from a dictionary
ages = {'Sam':5, 'Frank':10, 'Spike':7}
print("Dictionary:\n",ages)

Dictionary:
 {'Sam': 5, 'Frank': 10, 'Spike': 7}

In [ ]:
# 5. Creating Series for imaginary sales data (Q1 and Q2)
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [ ]:
# Convert dictionaries to Pandas Series
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [ ]:
print("Series for Q1 sales:\n",sales_Q1)

Series for Q1 sales:
 Japan     80
China    450
India    200
USA      250
dtype: int64

In [ ]:
# Accessing values by named index
print("Japan sales in Q1:",sales_Q1['Japan'])

Japan sales in Q1: 80

In [ ]:
# Integer-based location indexing (default index)
print("Second value in Q1 sales:",sales_Q1[0])

Second value in Q1 sales: 80

<ipython-input-25-e07ce2753e5f>:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Second value in Q1 sales:",sales_Q1[0])

In [ ]:
# 6. Error handling for non-existing index
print(sales_Q1['France'])  # Non-exisiting key
print(sales_Q1['USA '])  # Extra space in key
print(sales_Q1['usa'])  # Case-sensitive key

In [ ]:
# Series operations
print("Series keys:", sales_Q1.keys())  # Get keys (country names)

Series keys: Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [ ]:
# Broadcasting operations
print("Sales Q1 doubled:\n", sales_Q1 * 2)  # Multiply each value by 2
print("Sales Q2 divided by 100:\n", sales_Q2 / 100)  # Divide each value by 100

Sales Q1 doubled:
 Japan    160
China    900
India    400
USA      500
dtype: int64
Sales Q2 divided by 100:
 Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

In [ ]:
# Handling mismatched indices (NaN values)
print("Sales Q1 + Sales Q2 (With NaN where no matching key):\n", sales_Q1 + sales_Q2)

Sales Q1 + Sales Q2 (With NaN where no matching key):
 Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [ ]:
# Handling missing data ( Filling NaN with defaulty values)
print("Sales Q1 + Sales Q2 (With 0 where no matching key):\n", sales_Q1.add(sales_Q2, fill_value=0))

Sales Q1 + Sales Q2 (With 0 where no matching key):
 Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64