In [ ]:
import numpy as np
import pandas as pd

In [ ]:
np.random.seed(101)  #Set seed for reproducivility
mydata = np.random.randint(0,101,(4,3)) #Generate random integers in the range (0,100)
print("Generate DataFrame (myData) : \n",mydata)

Generate DataFrame (myData) :
 [[95 11 81]
 [70 63 87]
 [75  9 77]
 [40  4 63]]

In [ ]:
myindex = ['CA', 'NY', 'AZ', 'TX']
mycolumns = ['Jan', 'Feb', 'Mar']

In [ ]:
# Creating a DataFrame without index and columns
df = pd.DataFrame(data=mydata)
print("DataFrame without index and columns:\n", df)

DataFrame without index and columns:
     0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [ ]:
# Creating DataFrame with custom index
df = pd.DataFrame(data=mydata, index=myindex)
print("DataFrame with custom index:\n", df)

DataFrame with custom index:
      0   1   2
CA  95  11  81
NY  70  63  87
AZ  75   9  77
TX  40   4  63

In [ ]:
# Creating DataFrame with custom index and custom column names
df = pd.DataFrame(data=mydata, index=myindex, columns=mycolumns)
print("DataFrame with custom index and column names:\n", df)

DataFrame with custom index and column names:
     Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [ ]:
# Displaying information about dataFrame
print("DataFrame information:\n", df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int64
 1   Feb     4 non-null      int64
 2   Mar     4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes
DataFrame information:
 None

In [ ]:
# Create a DataFrame from a CSV file
df = pd.read_csv('tips.csv')
print("DataFrame from CSV file:\n", df)

DataFrame from CSV file:
      total_bill   tip  gender smoker   day    time  size  price_per_person  \
0         16.99  1.01  Female     No   Sun  Dinner     2              8.49
1         10.34  1.66    Male     No   Sun  Dinner     3              3.45
2         21.01  3.50    Male     No   Sun  Dinner     3              7.00
3         23.68  3.31    Male     No   Sun  Dinner     2             11.84
4         24.59  3.61  Female     No   Sun  Dinner     4              6.15
..          ...   ...     ...    ...   ...     ...   ...               ...
239       29.03  5.92    Male     No   Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

             Payer Name     CC Number Payment ID
0    Christy Cunningham  3.560330e+15    Sun2959
1        Douglas Tucker  4.478070e+15    Sun4608
2        Travis Walters  6.011810e+15    Sun4458
3      Nathaniel Harris  4.676140e+15    Sun5260
4          Tonya Carter  4.832730e+15    Sun2251
..                  ...           ...        ...
239       Michael Avila  5.296070e+15    Sat2657
240      Monica Sanders  3.506810e+15    Sat1766
241          Keith Wong  6.011890e+15    Sat3880
242        Dennis Dixon  4.375220e+12      Sat17
243     Michelle Hardin  3.511450e+15    Thur672

[244 rows x 11 columns]

In [ ]:
print("Columns are:\n", df.columns)
print("\nIndex are:\n", df.index)
print(df.head(2))
print(df.tail(3))
print("\nTranspose of df is :\n", df.describe().transpose())

Columns are:
 Index(['total_bill', 'tip', 'gender', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID'],
      dtype='object')

Index are:
 RangeIndex(start=0, stop=244, step=1)
   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
     total_bill   tip  gender smoker   day    time  size  price_per_person  \
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

          Payer Name     CC Number Payment ID
241       Keith Wong  6.011890e+15    Sat3880
242     Dennis Dixon  4.375220e+12      Sat17
243  Michelle Hardin  3.511450e+15    Thur672

Transpose of df is :
                   count          mean           std           min  \
total_bill        244.0  1.978594e+01  8.902412e+00  3.070000e+00
tip               244.0  2.998279e+00  1.383638e+00  1.000000e+00
size              244.0  2.569672e+00  9.510998e-01  1.000000e+00
price_per_person  244.0  7.888197e+00  2.914234e+00  2.880000e+00
CC Number         244.0  2.563495e+15  2.369340e+15  6.040679e+10

                           25%           50%           75%           max
total_bill        1.334750e+01  1.779500e+01  2.412750e+01  5.081000e+01
tip               2.000000e+00  2.900000e+00  3.562500e+00  1.000000e+01
size              2.000000e+00  2.000000e+00  3.000000e+00  6.000000e+00
price_per_person  5.800000e+00  7.255000e+00  9.390000e+00  2.027000e+01
CC Number         3.040732e+13  3.525320e+15  4.553675e+15  6.596450e+15

# Column Selection and indexing

In [ ]:
# Selecting a single column
print(df['total_bill'])
print(type(df['total_bill']))

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64
<class 'pandas.core.series.Series'>

In [ ]:
# Selecting multiple columns ( use a list of column names)
print(df[['total_bill', 'tip']])
print(type(df[['total_bill', 'tip']]))

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# Create new columns based on existing ones
df['tip_percentage'] = 100 * df['tip'] / df['total_bill']
df['price_per_person'] = df['total_bill'] / df['size']
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2          8.495000
1       10.34  1.66    Male     No  Sun  Dinner     3          3.446667
2       21.01  3.50    Male     No  Sun  Dinner     3          7.003333
3       23.68  3.31    Male     No  Sun  Dinner     2         11.840000
4       24.59  3.61  Female     No  Sun  Dinner     4          6.147500

           Payer Name     CC Number Payment ID  tip_percentage
0  Christy Cunningham  3.560330e+15    Sun2959        5.944673
1      Douglas Tucker  4.478070e+15    Sun4608       16.054159
2      Travis Walters  6.011810e+15    Sun4458       16.658734
3    Nathaniel Harris  4.676140e+15    Sun5260       13.978041
4        Tonya Carter  4.832730e+15    Sun2251       14.680765

In [ ]:
# Adjust the 'price_per_person' column by rounding it to 2 decimal places
df['price_per_person'] = np.round(df['price_per_person'],2)
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID  tip_percentage
0  Christy Cunningham  3.560330e+15    Sun2959        5.944673
1      Douglas Tucker  4.478070e+15    Sun4608       16.054159
2      Travis Walters  6.011810e+15    Sun4458       16.658734
3    Nathaniel Harris  4.676140e+15    Sun5260       13.978041
4        Tonya Carter  4.832730e+15    Sun2251       14.680765

In [ ]:
# Remove the 'tip_percentage' column
df = df.drop('tip_percentage', axis=1)
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458
3    Nathaniel Harris  4.676140e+15    Sun5260
4        Tonya Carter  4.832730e+15    Sun2251

In [ ]:
# Show all columns in the display
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
print(df)

     total_bill    tip  gender smoker   day    time  size  price_per_person  \
0         16.99   1.01  Female     No   Sun  Dinner     2              8.49
1         10.34   1.66    Male     No   Sun  Dinner     3              3.45
2         21.01   3.50    Male     No   Sun  Dinner     3              7.00
3         23.68   3.31    Male     No   Sun  Dinner     2             11.84
4         24.59   3.61  Female     No   Sun  Dinner     4              6.15
5         25.29   4.71    Male     No   Sun  Dinner     4              6.32
6          8.77   2.00    Male     No   Sun  Dinner     2              4.38
7         26.88   3.12    Male     No   Sun  Dinner     4              6.72
8         15.04   1.96    Male     No   Sun  Dinner     2              7.52
9         14.78   3.23    Male     No   Sun  Dinner     2              7.39
10        10.27   1.71    Male     No   Sun  Dinner     2              5.14
11        35.26   5.00  Female     No   Sun  Dinner     4              8.82
12        15.42   1.57    Male     No   Sun  Dinner     2              7.71
13        18.43   3.00    Male     No   Sun  Dinner     4              4.61
14        14.83   3.02  Female     No   Sun  Dinner     2              7.42
15        21.58   3.92    Male     No   Sun  Dinner     2             10.79
16        10.33   1.67  Female     No   Sun  Dinner     3              3.44
17        16.29   3.71    Male     No   Sun  Dinner     3              5.43
18        16.97   3.50  Female     No   Sun  Dinner     3              5.66
19        20.65   3.35    Male     No   Sat  Dinner     3              6.88
20        17.92   4.08    Male     No   Sat  Dinner     2              8.96
21        20.29   2.75  Female     No   Sat  Dinner     2             10.14
22        15.77   2.23  Female     No   Sat  Dinner     2              7.88
23        39.42   7.58    Male     No   Sat  Dinner     4              9.86
24        19.82   3.18    Male     No   Sat  Dinner     2              9.91
25        17.81   2.34    Male     No   Sat  Dinner     4              4.45
26        13.37   2.00    Male     No   Sat  Dinner     2              6.68
27        12.69   2.00    Male     No   Sat  Dinner     2              6.34
28        21.70   4.30    Male     No   Sat  Dinner     2             10.85
29        19.65   3.00  Female     No   Sat  Dinner     2              9.82
30         9.55   1.45    Male     No   Sat  Dinner     2              4.78
31        18.35   2.50    Male     No   Sat  Dinner     4              4.59
32        15.06   3.00  Female     No   Sat  Dinner     2              7.53
33        20.69   2.45  Female     No   Sat  Dinner     4              5.17
34        17.78   3.27    Male     No   Sat  Dinner     2              8.89
35        24.06   3.60    Male     No   Sat  Dinner     3              8.02
36        16.31   2.00    Male     No   Sat  Dinner     3              5.44
37        16.93   3.07  Female     No   Sat  Dinner     3              5.64
38        18.69   2.31    Male     No   Sat  Dinner     3              6.23
39        31.27   5.00    Male     No   Sat  Dinner     3             10.42
40        16.04   2.24    Male     No   Sat  Dinner     3              5.35
41        17.46   2.54    Male     No   Sun  Dinner     2              8.73
42        13.94   3.06    Male     No   Sun  Dinner     2              6.97
43         9.68   1.32    Male     No   Sun  Dinner     2              4.84
44        30.40   5.60    Male     No   Sun  Dinner     4              7.60
45        18.29   3.00    Male     No   Sun  Dinner     2              9.14
46        22.23   5.00    Male     No   Sun  Dinner     2             11.12
47        32.40   6.00    Male     No   Sun  Dinner     4              8.10
48        28.55   2.05    Male     No   Sun  Dinner     3              9.52
49        18.04   3.00    Male     No   Sun  Dinner     2              9.02
50        12.54   2.50    Male     No   Sun  Dinner     2              6.27
51        10.29   2.60  Female     No   Sun  Dinner     2              5.14
52        34.81   5.20  Female     No   Sun  Dinner     4              8.70
53         9.94   1.56    Male     No   Sun  Dinner     2              4.97
54        25.56   4.34    Male     No   Sun  Dinner     4              6.39
55        19.49   3.51    Male     No   Sun  Dinner     2              9.74
56        38.01   3.00    Male    Yes   Sat  Dinner     4              9.50
57        26.41   1.50  Female     No   Sat  Dinner     2             13.20
58        11.24   1.76    Male    Yes   Sat  Dinner     2              5.62
59        48.27   6.73    Male     No   Sat  Dinner     4             12.07
60        20.29   3.21    Male    Yes   Sat  Dinner     2             10.14
61        13.81   2.00    Male    Yes   Sat  Dinner     2              6.90
62        11.02   1.98    Male    Yes   Sat  Dinner     2              5.51
63        18.29   3.76    Male    Yes   Sat  Dinner     4              4.57
64        17.59   2.64    Male     No   Sat  Dinner     3              5.86
65        20.08   3.15    Male     No   Sat  Dinner     3              6.69
66        16.45   2.47  Female     No   Sat  Dinner     2              8.22
67         3.07   1.00  Female    Yes   Sat  Dinner     1              3.07
68        20.23   2.01    Male     No   Sat  Dinner     2             10.12
69        15.01   2.09    Male    Yes   Sat  Dinner     2              7.50
70        12.02   1.97    Male     No   Sat  Dinner     2              6.01
71        17.07   3.00  Female     No   Sat  Dinner     3              5.69
72        26.86   3.14  Female    Yes   Sat  Dinner     2             13.43
73        25.28   5.00  Female    Yes   Sat  Dinner     2             12.64
74        14.73   2.20  Female     No   Sat  Dinner     2              7.36
75        10.51   1.25    Male     No   Sat  Dinner     2              5.26
76        17.92   3.08    Male    Yes   Sat  Dinner     2              8.96
77        27.20   4.00    Male     No  Thur   Lunch     4              6.80
78        22.76   3.00    Male     No  Thur   Lunch     2             11.38
79        17.29   2.71    Male     No  Thur   Lunch     2              8.64
80        19.44   3.00    Male    Yes  Thur   Lunch     2              9.72
81        16.66   3.40    Male     No  Thur   Lunch     2              8.33
82        10.07   1.83  Female     No  Thur   Lunch     1             10.07
83        32.68   5.00    Male    Yes  Thur   Lunch     2             16.34
84        15.98   2.03    Male     No  Thur   Lunch     2              7.99
85        34.83   5.17  Female     No  Thur   Lunch     4              8.71
86        13.03   2.00    Male     No  Thur   Lunch     2              6.52
87        18.28   4.00    Male     No  Thur   Lunch     2              9.14
88        24.71   5.85    Male     No  Thur   Lunch     2             12.36
89        21.16   3.00    Male     No  Thur   Lunch     2             10.58
90        28.97   3.00    Male    Yes   Fri  Dinner     2             14.48
91        22.49   3.50    Male     No   Fri  Dinner     2             11.24
92         5.75   1.00  Female    Yes   Fri  Dinner     2              2.88
93        16.32   4.30  Female    Yes   Fri  Dinner     2              8.16
94        22.75   3.25  Female     No   Fri  Dinner     2             11.38
95        40.17   4.73    Male    Yes   Fri  Dinner     4             10.04
96        27.28   4.00    Male    Yes   Fri  Dinner     2             13.64
97        12.03   1.50    Male    Yes   Fri  Dinner     2              6.02
98        21.01   3.00    Male    Yes   Fri  Dinner     2             10.50
99        12.46   1.50    Male     No   Fri  Dinner     2              6.23
100       11.35   2.50  Female    Yes   Fri  Dinner     2              5.68
101       15.38   3.00  Female    Yes   Fri  Dinner     2              7.69
102       44.30   2.50  Female    Yes   Sat  Dinner     3             14.77
103       22.42   3.48  Female    Yes   Sat  Dinner     2             11.21
104       20.92   4.08  Female     No   Sat  Dinner     2             10.46
105       15.36   1.64    Male    Yes   Sat  Dinner     2              7.68
106       20.49   4.06    Male    Yes   Sat  Dinner     2             10.24
107       25.21   4.29    Male    Yes   Sat  Dinner     2             12.60
108       18.24   3.76    Male     No   Sat  Dinner     2              9.12
109       14.31   4.00  Female    Yes   Sat  Dinner     2              7.16
110       14.00   3.00    Male     No   Sat  Dinner     2              7.00
111        7.25   1.00  Female     No   Sat  Dinner     1              7.25
112       38.07   4.00    Male     No   Sun  Dinner     3             12.69
113       23.95   2.55    Male     No   Sun  Dinner     2             11.98
114       25.71   4.00  Female     No   Sun  Dinner     3              8.57
115       17.31   3.50  Female     No   Sun  Dinner     2              8.65
116       29.93   5.07    Male     No   Sun  Dinner     4              7.48
117       10.65   1.50  Female     No  Thur   Lunch     2              5.32
118       12.43   1.80  Female     No  Thur   Lunch     2              6.22
119       24.08   2.92  Female     No  Thur   Lunch     4              6.02
120       11.69   2.31    Male     No  Thur   Lunch     2              5.84
121       13.42   1.68  Female     No  Thur   Lunch     2              6.71
122       14.26   2.50    Male     No  Thur   Lunch     2              7.13
123       15.95   2.00    Male     No  Thur   Lunch     2              7.98
124       12.48   2.52  Female     No  Thur   Lunch     2              6.24
125       29.80   4.20  Female     No  Thur   Lunch     6              4.97
126        8.52   1.48    Male     No  Thur   Lunch     2              4.26
127       14.52   2.00  Female     No  Thur   Lunch     2              7.26
128       11.38   2.00  Female     No  Thur   Lunch     2              5.69
129       22.82   2.18    Male     No  Thur   Lunch     3              7.61
130       19.08   1.50    Male     No  Thur   Lunch     2              9.54
131       20.27   2.83  Female     No  Thur   Lunch     2             10.14
132       11.17   1.50  Female     No  Thur   Lunch     2              5.58
133       12.26   2.00  Female     No  Thur   Lunch     2              6.13
134       18.26   3.25  Female     No  Thur   Lunch     2              9.13
135        8.51   1.25  Female     No  Thur   Lunch     2              4.26
136       10.33   2.00  Female     No  Thur   Lunch     2              5.16
137       14.15   2.00  Female     No  Thur   Lunch     2              7.08
138       16.00   2.00    Male    Yes  Thur   Lunch     2              8.00
139       13.16   2.75  Female     No  Thur   Lunch     2              6.58
140       17.47   3.50  Female     No  Thur   Lunch     2              8.74
141       34.30   6.70    Male     No  Thur   Lunch     6              5.72
142       41.19   5.00    Male     No  Thur   Lunch     5              8.24
143       27.05   5.00  Female     No  Thur   Lunch     6              4.51
144       16.43   2.30  Female     No  Thur   Lunch     2              8.22
145        8.35   1.50  Female     No  Thur   Lunch     2              4.18
146       18.64   1.36  Female     No  Thur   Lunch     3              6.21
147       11.87   1.63  Female     No  Thur   Lunch     2              5.94
148        9.78   1.73    Male     No  Thur   Lunch     2              4.89
149        7.51   2.00    Male     No  Thur   Lunch     2              3.76
150       14.07   2.50    Male     No   Sun  Dinner     2              7.04
151       13.13   2.00    Male     No   Sun  Dinner     2              6.56
152       17.26   2.74    Male     No   Sun  Dinner     3              5.75
153       24.55   2.00    Male     No   Sun  Dinner     4              6.14
154       19.77   2.00    Male     No   Sun  Dinner     4              4.94
155       29.85   5.14  Female     No   Sun  Dinner     5              5.97
156       48.17   5.00    Male     No   Sun  Dinner     6              8.03
157       25.00   3.75  Female     No   Sun  Dinner     4              6.25
158       13.39   2.61  Female     No   Sun  Dinner     2              6.70
159       16.49   2.00    Male     No   Sun  Dinner     4              4.12
160       21.50   3.50    Male     No   Sun  Dinner     4              5.38
161       12.66   2.50    Male     No   Sun  Dinner     2              6.33
162       16.21   2.00  Female     No   Sun  Dinner     3              5.40
163       13.81   2.00    Male     No   Sun  Dinner     2              6.90
164       17.51   3.00  Female    Yes   Sun  Dinner     2              8.76
165       24.52   3.48    Male     No   Sun  Dinner     3              8.17
166       20.76   2.24    Male     No   Sun  Dinner     2             10.38
167       31.71   4.50    Male     No   Sun  Dinner     4              7.93
168       10.59   1.61  Female    Yes   Sat  Dinner     2              5.30
169       10.63   2.00  Female    Yes   Sat  Dinner     2              5.32
170       50.81  10.00    Male    Yes   Sat  Dinner     3             16.94
171       15.81   3.16    Male    Yes   Sat  Dinner     2              7.90
172        7.25   5.15    Male    Yes   Sun  Dinner     2              3.62
173       31.85   3.18    Male    Yes   Sun  Dinner     2             15.92
174       16.82   4.00    Male    Yes   Sun  Dinner     2              8.41
175       32.90   3.11    Male    Yes   Sun  Dinner     2             16.45
176       17.89   2.00    Male    Yes   Sun  Dinner     2              8.94
177       14.48   2.00    Male    Yes   Sun  Dinner     2              7.24
178        9.60   4.00  Female    Yes   Sun  Dinner     2              4.80
179       34.63   3.55    Male    Yes   Sun  Dinner     2             17.32
180       34.65   3.68    Male    Yes   Sun  Dinner     4              8.66
181       23.33   5.65    Male    Yes   Sun  Dinner     2             11.66
182       45.35   3.50    Male    Yes   Sun  Dinner     3             15.12
183       23.17   6.50    Male    Yes   Sun  Dinner     4              5.79
184       40.55   3.00    Male    Yes   Sun  Dinner     2             20.27
185       20.69   5.00    Male     No   Sun  Dinner     5              4.14
186       20.90   3.50  Female    Yes   Sun  Dinner     3              6.97
187       30.46   2.00    Male    Yes   Sun  Dinner     5              6.09
188       18.15   3.50  Female    Yes   Sun  Dinner     3              6.05
189       23.10   4.00    Male    Yes   Sun  Dinner     3              7.70
190       15.69   1.50    Male    Yes   Sun  Dinner     2              7.84
191       19.81   4.19  Female    Yes  Thur   Lunch     2              9.90
192       28.44   2.56    Male    Yes  Thur   Lunch     2             14.22
193       15.48   2.02    Male    Yes  Thur   Lunch     2              7.74
194       16.58   4.00    Male    Yes  Thur   Lunch     2              8.29
195        7.56   1.44    Male     No  Thur   Lunch     2              3.78
196       10.34   2.00    Male    Yes  Thur   Lunch     2              5.17
197       43.11   5.00  Female    Yes  Thur   Lunch     4             10.78
198       13.00   2.00  Female    Yes  Thur   Lunch     2              6.50
199       13.51   2.00    Male    Yes  Thur   Lunch     2              6.76
200       18.71   4.00    Male    Yes  Thur   Lunch     3              6.24
201       12.74   2.01  Female    Yes  Thur   Lunch     2              6.37
202       13.00   2.00  Female    Yes  Thur   Lunch     2              6.50
203       16.40   2.50  Female    Yes  Thur   Lunch     2              8.20
204       20.53   4.00    Male    Yes  Thur   Lunch     4              5.13
205       16.47   3.23  Female    Yes  Thur   Lunch     3              5.49
206       26.59   3.41    Male    Yes   Sat  Dinner     3              8.86
207       38.73   3.00    Male    Yes   Sat  Dinner     4              9.68
208       24.27   2.03    Male    Yes   Sat  Dinner     2             12.14
209       12.76   2.23  Female    Yes   Sat  Dinner     2              6.38
210       30.06   2.00    Male    Yes   Sat  Dinner     3             10.02
211       25.89   5.16    Male    Yes   Sat  Dinner     4              6.47
212       48.33   9.00    Male     No   Sat  Dinner     4             12.08
213       13.27   2.50  Female    Yes   Sat  Dinner     2              6.64
214       28.17   6.50  Female    Yes   Sat  Dinner     3              9.39
215       12.90   1.10  Female    Yes   Sat  Dinner     2              6.45
216       28.15   3.00    Male    Yes   Sat  Dinner     5              5.63
217       11.59   1.50    Male    Yes   Sat  Dinner     2              5.80
218        7.74   1.44    Male    Yes   Sat  Dinner     2              3.87
219       30.14   3.09  Female    Yes   Sat  Dinner     4              7.54
220       12.16   2.20    Male    Yes   Fri   Lunch     2              6.08
221       13.42   3.48  Female    Yes   Fri   Lunch     2              6.71
222        8.58   1.92    Male    Yes   Fri   Lunch     1              8.58
223       15.98   3.00  Female     No   Fri   Lunch     3              5.33
224       13.42   1.58    Male    Yes   Fri   Lunch     2              6.71
225       16.27   2.50  Female    Yes   Fri   Lunch     2              8.14
226       10.09   2.00  Female    Yes   Fri   Lunch     2              5.04
227       20.45   3.00    Male     No   Sat  Dinner     4              5.11
228       13.28   2.72    Male     No   Sat  Dinner     2              6.64
229       22.12   2.88  Female    Yes   Sat  Dinner     2             11.06
230       24.01   2.00    Male    Yes   Sat  Dinner     4              6.00
231       15.69   3.00    Male    Yes   Sat  Dinner     3              5.23
232       11.61   3.39    Male     No   Sat  Dinner     2              5.80
233       10.77   1.47    Male     No   Sat  Dinner     2              5.38
234       15.53   3.00    Male    Yes   Sat  Dinner     2              7.76
235       10.07   1.25    Male     No   Sat  Dinner     2              5.04
236       12.60   1.00    Male    Yes   Sat  Dinner     2              6.30
237       32.83   1.17    Male    Yes   Sat  Dinner     2             16.42
238       35.83   4.67  Female     No   Sat  Dinner     3             11.94
239       29.03   5.92    Male     No   Sat  Dinner     3              9.68
240       27.18   2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67   2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82   1.75    Male     No   Sat  Dinner     2              8.91
243       18.78   3.00  Female     No  Thur  Dinner     2              9.39

                Payer Name     CC Number Payment ID
0       Christy Cunningham  3.560330e+15    Sun2959
1           Douglas Tucker  4.478070e+15    Sun4608
2           Travis Walters  6.011810e+15    Sun4458
3         Nathaniel Harris  4.676140e+15    Sun5260
4             Tonya Carter  4.832730e+15    Sun2251
5               Erik Smith  2.131400e+14    Sun9679
6       Kristopher Johnson  2.223730e+15    Sun5985
7              Robert Buck  3.514790e+15    Sun8157
8          Joseph Mcdonald  3.522870e+15    Sun6820
9            Jerome Abbott  3.532120e+15    Sun3775
10           William Riley  5.662880e+11    Sun2546
11            Diane Macias  4.577820e+15    Sun6686
12         Chad Harrington  5.770410e+11    Sun1300
13            Joshua Jones  6.011160e+15    Sun2971
14           Vanessa Jones  3.001670e+13    Sun3848
15          Matthew Reilly  1.800730e+14    Sun1878
16        Elizabeth Foster  4.240030e+15    Sun9715
17            John Pittman  6.521340e+15    Sun2998
18          Laura Martinez  3.042230e+13    Sun2789
19           Timothy Oneal  6.568070e+15    Sat9213
20             Thomas Rice  4.403300e+15    Sat1709
21         Natalie Gardner  5.448130e+15    Sat9618
22          Ashley Shelton  3.524120e+15    Sat9786
23          Lance Peterson  3.542580e+15     Sat239
24        Christopher Ross  3.673910e+13    Sat6236

In [ ]:
pd.reset_option('display.max_columns')
pd.reset_option('display.max_rows')
print(df)

     total_bill   tip  gender smoker   day    time  size  price_per_person  \
0         16.99  1.01  Female     No   Sun  Dinner     2              8.49
1         10.34  1.66    Male     No   Sun  Dinner     3              3.45
2         21.01  3.50    Male     No   Sun  Dinner     3              7.00
3         23.68  3.31    Male     No   Sun  Dinner     2             11.84
4         24.59  3.61  Female     No   Sun  Dinner     4              6.15
..          ...   ...     ...    ...   ...     ...   ...               ...
239       29.03  5.92    Male     No   Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

             Payer Name     CC Number Payment ID
0    Christy Cunningham  3.560330e+15    Sun2959
1        Douglas Tucker  4.478070e+15    Sun4608
2        Travis Walters  6.011810e+15    Sun4458
3      Nathaniel Harris  4.676140e+15    Sun5260
4          Tonya Carter  4.832730e+15    Sun2251
..                  ...           ...        ...
239       Michael Avila  5.296070e+15    Sat2657
240      Monica Sanders  3.506810e+15    Sat1766
241          Keith Wong  6.011890e+15    Sat3880
242        Dennis Dixon  4.375220e+12      Sat17
243     Michelle Hardin  3.511450e+15    Thur672

[244 rows x 11 columns]

In [ ]:
# Accessing rows by index
print(df.iloc[0])

total_bill                       16.99
tip                               1.01
gender                          Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                  8.49
Payer Name          Christy Cunningham
CC Number           3560330000000000.0
Payment ID                     Sun2959
Name: 0, dtype: object

In [ ]:
print(df.loc[0])

total_bill                       16.99
tip                               1.01
gender                          Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                  8.49
Payer Name          Christy Cunningham
CC Number           3560330000000000.0
Payment ID                     Sun2959
Name: 0, dtype: object