In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('tips.csv')

In [ ]:
# Filter rows where total_bill is greater than 30
print(df[df['total_bill'] > 30])

     total_bill    tip  gender smoker   day    time  size  price_per_person  \
11        35.26   5.00  Female     No   Sun  Dinner     4              8.82
23        39.42   7.58    Male     No   Sat  Dinner     4              9.86
39        31.27   5.00    Male     No   Sat  Dinner     3             10.42
44        30.40   5.60    Male     No   Sun  Dinner     4              7.60
47        32.40   6.00    Male     No   Sun  Dinner     4              8.10
52        34.81   5.20  Female     No   Sun  Dinner     4              8.70
56        38.01   3.00    Male    Yes   Sat  Dinner     4              9.50
59        48.27   6.73    Male     No   Sat  Dinner     4             12.07
83        32.68   5.00    Male    Yes  Thur   Lunch     2             16.34
85        34.83   5.17  Female     No  Thur   Lunch     4              8.71
95        40.17   4.73    Male    Yes   Fri  Dinner     4             10.04
102       44.30   2.50  Female    Yes   Sat  Dinner     3             14.77
112       38.07   4.00    Male     No   Sun  Dinner     3             12.69
141       34.30   6.70    Male     No  Thur   Lunch     6              5.72
142       41.19   5.00    Male     No  Thur   Lunch     5              8.24
156       48.17   5.00    Male     No   Sun  Dinner     6              8.03
167       31.71   4.50    Male     No   Sun  Dinner     4              7.93
170       50.81  10.00    Male    Yes   Sat  Dinner     3             16.94
173       31.85   3.18    Male    Yes   Sun  Dinner     2             15.92
175       32.90   3.11    Male    Yes   Sun  Dinner     2             16.45
179       34.63   3.55    Male    Yes   Sun  Dinner     2             17.32
180       34.65   3.68    Male    Yes   Sun  Dinner     4              8.66
182       45.35   3.50    Male    Yes   Sun  Dinner     3             15.12
184       40.55   3.00    Male    Yes   Sun  Dinner     2             20.27
187       30.46   2.00    Male    Yes   Sun  Dinner     5              6.09
197       43.11   5.00  Female    Yes  Thur   Lunch     4             10.78
207       38.73   3.00    Male    Yes   Sat  Dinner     4              9.68
210       30.06   2.00    Male    Yes   Sat  Dinner     3             10.02
212       48.33   9.00    Male     No   Sat  Dinner     4             12.08
219       30.14   3.09  Female    Yes   Sat  Dinner     4              7.54
237       32.83   1.17    Male    Yes   Sat  Dinner     2             16.42
238       35.83   4.67  Female     No   Sat  Dinner     3             11.94

                Payer Name     CC Number Payment ID
11            Diane Macias  4.577820e+15    Sun6686
23          Lance Peterson  3.542580e+15     Sat239
39       Mr. Brandon Berry  6.011530e+15    Sat6373
44             Todd Cooper  5.038470e+11    Sun2274
47            James Barnes  3.552000e+15    Sun9677
52            Emily Daniel  4.291280e+15    Sun6165
56   James Christensen DDS  3.497940e+14    Sat8903
59             Brian Ortiz  6.596450e+15    Sat8139
83           Daniel Murphy  5.356180e+15   Thur8801
85             Shawna Cook  6.011790e+15   Thur7972
95           Aaron Bentley  1.800270e+14    Fri9628
102          Heather Cohen  3.797710e+14    Sat6240
112             Jeff Lopez  3.572870e+15     Sun591
141         Steven Carlson  3.526520e+15   Thur1025
142           Eric Andrews  4.356530e+15   Thur3621
156          Ryan Gonzales  3.523150e+15    Sun7518
167         Michael Lawson  3.566290e+15    Sun3719
170          Gregory Clark  5.473850e+15    Sat1954
173            Scott Perez  3.577120e+15    Sun9335
175        Nathan Reynolds  3.703070e+14    Sun5109
179           Brian Bailey  3.466560e+14    Sun9851
180       James Hebert DDS  6.761690e+11    Sun7544
182           Jose Parsons  4.112210e+15    Sun2337
184            Stephen Cox  3.547800e+15    Sun5140
187          David Barrett  4.792880e+15    Sun9987
197            Brooke Soto  5.544900e+15   Thur9313
207          Ricky Ramirez  3.478180e+14    Sat4505
210          Shawn Mendoza  3.018400e+13    Sat8361
212        Alex Williamson  6.762190e+11    Sat4590
219           Shelby House  5.020970e+11    Sat8863
237           Thomas Brown  4.284720e+15    Sat2929
238         Kimberly Crane  6.761840e+11    Sat9777

In [ ]:
# Filter rows based on gender
print(df[df['gender'] == 'Male'])

     total_bill   tip gender smoker  day    time  size  price_per_person  \
1         10.34  1.66   Male     No  Sun  Dinner     3              3.45
2         21.01  3.50   Male     No  Sun  Dinner     3              7.00
3         23.68  3.31   Male     No  Sun  Dinner     2             11.84
5         25.29  4.71   Male     No  Sun  Dinner     4              6.32
6          8.77  2.00   Male     No  Sun  Dinner     2              4.38
..          ...   ...    ...    ...  ...     ...   ...               ...
236       12.60  1.00   Male    Yes  Sat  Dinner     2              6.30
237       32.83  1.17   Male    Yes  Sat  Dinner     2             16.42
239       29.03  5.92   Male     No  Sat  Dinner     3              9.68
241       22.67  2.00   Male    Yes  Sat  Dinner     2             11.34
242       17.82  1.75   Male     No  Sat  Dinner     2              8.91

             Payer Name     CC Number Payment ID
1        Douglas Tucker  4.478070e+15    Sun4608
2        Travis Walters  6.011810e+15    Sun4458
3      Nathaniel Harris  4.676140e+15    Sun5260
5            Erik Smith  2.131400e+14    Sun9679
6    Kristopher Johnson  2.223730e+15    Sun5985
..                  ...           ...        ...
236       Matthew Myers  3.543680e+15    Sat5032
237        Thomas Brown  4.284720e+15    Sat2929
239       Michael Avila  5.296070e+15    Sat2657
241          Keith Wong  6.011890e+15    Sat3880
242        Dennis Dixon  4.375220e+12      Sat17

[157 rows x 11 columns]

In [ ]:
# Multiple conditions (AND, OR, NOT)
print(df[(df['total_bill'] > 30) & (df['gender'] == 'Male')])
print(df[(df['total_bill'] > 30) & ~(df['gender'] == 'Male')])
print(df[(df['total_bill'] > 30) | (df['tip'] > 5)])

     total_bill    tip gender smoker   day    time  size  price_per_person  \
23        39.42   7.58   Male     No   Sat  Dinner     4              9.86
39        31.27   5.00   Male     No   Sat  Dinner     3             10.42
44        30.40   5.60   Male     No   Sun  Dinner     4              7.60
47        32.40   6.00   Male     No   Sun  Dinner     4              8.10
56        38.01   3.00   Male    Yes   Sat  Dinner     4              9.50
59        48.27   6.73   Male     No   Sat  Dinner     4             12.07
83        32.68   5.00   Male    Yes  Thur   Lunch     2             16.34
95        40.17   4.73   Male    Yes   Fri  Dinner     4             10.04
112       38.07   4.00   Male     No   Sun  Dinner     3             12.69
141       34.30   6.70   Male     No  Thur   Lunch     6              5.72
142       41.19   5.00   Male     No  Thur   Lunch     5              8.24
156       48.17   5.00   Male     No   Sun  Dinner     6              8.03
167       31.71   4.50   Male     No   Sun  Dinner     4              7.93
170       50.81  10.00   Male    Yes   Sat  Dinner     3             16.94
173       31.85   3.18   Male    Yes   Sun  Dinner     2             15.92
175       32.90   3.11   Male    Yes   Sun  Dinner     2             16.45
179       34.63   3.55   Male    Yes   Sun  Dinner     2             17.32
180       34.65   3.68   Male    Yes   Sun  Dinner     4              8.66
182       45.35   3.50   Male    Yes   Sun  Dinner     3             15.12
184       40.55   3.00   Male    Yes   Sun  Dinner     2             20.27
187       30.46   2.00   Male    Yes   Sun  Dinner     5              6.09
207       38.73   3.00   Male    Yes   Sat  Dinner     4              9.68
210       30.06   2.00   Male    Yes   Sat  Dinner     3             10.02
212       48.33   9.00   Male     No   Sat  Dinner     4             12.08
237       32.83   1.17   Male    Yes   Sat  Dinner     2             16.42

                Payer Name     CC Number Payment ID
23          Lance Peterson  3.542580e+15     Sat239
39       Mr. Brandon Berry  6.011530e+15    Sat6373
44             Todd Cooper  5.038470e+11    Sun2274
47            James Barnes  3.552000e+15    Sun9677
56   James Christensen DDS  3.497940e+14    Sat8903
59             Brian Ortiz  6.596450e+15    Sat8139
83           Daniel Murphy  5.356180e+15   Thur8801
95           Aaron Bentley  1.800270e+14    Fri9628
112             Jeff Lopez  3.572870e+15     Sun591
141         Steven Carlson  3.526520e+15   Thur1025
142           Eric Andrews  4.356530e+15   Thur3621
156          Ryan Gonzales  3.523150e+15    Sun7518
167         Michael Lawson  3.566290e+15    Sun3719
170          Gregory Clark  5.473850e+15    Sat1954
173            Scott Perez  3.577120e+15    Sun9335
175        Nathan Reynolds  3.703070e+14    Sun5109
179           Brian Bailey  3.466560e+14    Sun9851
180       James Hebert DDS  6.761690e+11    Sun7544
182           Jose Parsons  4.112210e+15    Sun2337
184            Stephen Cox  3.547800e+15    Sun5140
187          David Barrett  4.792880e+15    Sun9987
207          Ricky Ramirez  3.478180e+14    Sat4505
210          Shawn Mendoza  3.018400e+13    Sat8361
212        Alex Williamson  6.762190e+11    Sat4590
237           Thomas Brown  4.284720e+15    Sat2929
     total_bill   tip  gender smoker   day    time  size  price_per_person  \
11        35.26  5.00  Female     No   Sun  Dinner     4              8.82
52        34.81  5.20  Female     No   Sun  Dinner     4              8.70
85        34.83  5.17  Female     No  Thur   Lunch     4              8.71
102       44.30  2.50  Female    Yes   Sat  Dinner     3             14.77
197       43.11  5.00  Female    Yes  Thur   Lunch     4             10.78
219       30.14  3.09  Female    Yes   Sat  Dinner     4              7.54
238       35.83  4.67  Female     No   Sat  Dinner     3             11.94

         Payer Name     CC Number Payment ID
11     Diane Macias  4.577820e+15    Sun6686
52     Emily Daniel  4.291280e+15    Sun6165
85      Shawna Cook  6.011790e+15   Thur7972
102   Heather Cohen  3.797710e+14    Sat6240
197     Brooke Soto  5.544900e+15   Thur9313
219    Shelby House  5.020970e+11    Sat8863
238  Kimberly Crane  6.761840e+11    Sat9777
     total_bill    tip  gender smoker   day    time  size  price_per_person  \
11        35.26   5.00  Female     No   Sun  Dinner     4              8.82
23        39.42   7.58    Male     No   Sat  Dinner     4              9.86
39        31.27   5.00    Male     No   Sat  Dinner     3             10.42
44        30.40   5.60    Male     No   Sun  Dinner     4              7.60
47        32.40   6.00    Male     No   Sun  Dinner     4              8.10
52        34.81   5.20  Female     No   Sun  Dinner     4              8.70
56        38.01   3.00    Male    Yes   Sat  Dinner     4              9.50
59        48.27   6.73    Male     No   Sat  Dinner     4             12.07
83        32.68   5.00    Male    Yes  Thur   Lunch     2             16.34
85        34.83   5.17  Female     No  Thur   Lunch     4              8.71
88        24.71   5.85    Male     No  Thur   Lunch     2             12.36
95        40.17   4.73    Male    Yes   Fri  Dinner     4             10.04
102       44.30   2.50  Female    Yes   Sat  Dinner     3             14.77
112       38.07   4.00    Male     No   Sun  Dinner     3             12.69
116       29.93   5.07    Male     No   Sun  Dinner     4              7.48
141       34.30   6.70    Male     No  Thur   Lunch     6              5.72
142       41.19   5.00    Male     No  Thur   Lunch     5              8.24
155       29.85   5.14  Female     No   Sun  Dinner     5              5.97
156       48.17   5.00    Male     No   Sun  Dinner     6              8.03
167       31.71   4.50    Male     No   Sun  Dinner     4              7.93
170       50.81  10.00    Male    Yes   Sat  Dinner     3             16.94
172        7.25   5.15    Male    Yes   Sun  Dinner     2              3.62
173       31.85   3.18    Male    Yes   Sun  Dinner     2             15.92
175       32.90   3.11    Male    Yes   Sun  Dinner     2             16.45
179       34.63   3.55    Male    Yes   Sun  Dinner     2             17.32
180       34.65   3.68    Male    Yes   Sun  Dinner     4              8.66
181       23.33   5.65    Male    Yes   Sun  Dinner     2             11.66
182       45.35   3.50    Male    Yes   Sun  Dinner     3             15.12
183       23.17   6.50    Male    Yes   Sun  Dinner     4              5.79
184       40.55   3.00    Male    Yes   Sun  Dinner     2             20.27
187       30.46   2.00    Male    Yes   Sun  Dinner     5              6.09
197       43.11   5.00  Female    Yes  Thur   Lunch     4             10.78
207       38.73   3.00    Male    Yes   Sat  Dinner     4              9.68
210       30.06   2.00    Male    Yes   Sat  Dinner     3             10.02
211       25.89   5.16    Male    Yes   Sat  Dinner     4              6.47
212       48.33   9.00    Male     No   Sat  Dinner     4             12.08
214       28.17   6.50  Female    Yes   Sat  Dinner     3              9.39
219       30.14   3.09  Female    Yes   Sat  Dinner     4              7.54
237       32.83   1.17    Male    Yes   Sat  Dinner     2             16.42
238       35.83   4.67  Female     No   Sat  Dinner     3             11.94
239       29.03   5.92    Male     No   Sat  Dinner     3              9.68

                Payer Name     CC Number Payment ID
11            Diane Macias  4.577820e+15    Sun6686
23          Lance Peterson  3.542580e+15     Sat239
39       Mr. Brandon Berry  6.011530e+15    Sat6373
44             Todd Cooper  5.038470e+11    Sun2274
47            James Barnes  3.552000e+15    Sun9677
52            Emily Daniel  4.291280e+15    Sun6165
56   James Christensen DDS  3.497940e+14    Sat8903
59             Brian Ortiz  6.596450e+15    Sat8139
83           Daniel Murphy  5.356180e+15   Thur8801
85             Shawna Cook  6.011790e+15   Thur7972
88            Roger Taylor  4.410250e+12   Thur9003
95           Aaron Bentley  1.800270e+14    Fri9628
102          Heather Cohen  3.797710e+14    Sat6240
112             Jeff Lopez  3.572870e+15     Sun591
116            Shawn Blake  4.689080e+15      Sun22
141         Steven Carlson  3.526520e+15   Thur1025
142           Eric Andrews  4.356530e+15   Thur3621
155         Madison Wilson  4.210880e+15    Sun9176
156          Ryan Gonzales  3.523150e+15    Sun7518
167         Michael Lawson  3.566290e+15    Sun3719
170          Gregory Clark  5.473850e+15    Sat1954
172            Larry White  3.043260e+13    Sun9209
173            Scott Perez  3.577120e+15    Sun9335
175        Nathan Reynolds  3.703070e+14    Sun5109
179           Brian Bailey  3.466560e+14    Sun9851
180       James Hebert DDS  6.761690e+11    Sun7544
181              Jason Cox  6.556930e+15    Sun3402
182           Jose Parsons  4.112210e+15    Sun2337
183      Dr. Michael James  4.718500e+12    Sun6059
184            Stephen Cox  3.547800e+15    Sun5140
187          David Barrett  4.792880e+15    Sun9987
197            Brooke Soto  5.544900e+15   Thur9313
207          Ricky Ramirez  3.478180e+14    Sat4505
210          Shawn Mendoza  3.018400e+13    Sat8361
211         Christopher Li  6.011960e+15    Sat6735
212        Alex Williamson  6.762190e+11    Sat4590
214        Marissa Jackson  4.922300e+15    Sat3374
219           Shelby House  5.020970e+11    Sat8863
237           Thomas Brown  4.284720e+15    Sat2929
238         Kimberly Crane  6.761840e+11    Sat9777
239          Michael Avila  5.296070e+15    Sat2657

In [ ]:
# Using in for checking if a column value is in a list of options

options = ['Sat', 'Sun']
print(df[df['day'].isin(options)])
print(df[(df['day'] == 'Sat') | (df['day'] == 'Sun')])

     total_bill   tip  gender smoker  day    time  size  price_per_person  \
0         16.99  1.01  Female     No  Sun  Dinner     2              8.49
1         10.34  1.66    Male     No  Sun  Dinner     3              3.45
2         21.01  3.50    Male     No  Sun  Dinner     3              7.00
3         23.68  3.31    Male     No  Sun  Dinner     2             11.84
4         24.59  3.61  Female     No  Sun  Dinner     4              6.15
..          ...   ...     ...    ...  ...     ...   ...               ...
238       35.83  4.67  Female     No  Sat  Dinner     3             11.94
239       29.03  5.92    Male     No  Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes  Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes  Sat  Dinner     2             11.34
242       17.82  1.75    Male     No  Sat  Dinner     2              8.91

             Payer Name     CC Number Payment ID
0    Christy Cunningham  3.560330e+15    Sun2959
1        Douglas Tucker  4.478070e+15    Sun4608
2        Travis Walters  6.011810e+15    Sun4458
3      Nathaniel Harris  4.676140e+15    Sun5260
4          Tonya Carter  4.832730e+15    Sun2251
..                  ...           ...        ...
238      Kimberly Crane  6.761840e+11    Sat9777
239       Michael Avila  5.296070e+15    Sat2657
240      Monica Sanders  3.506810e+15    Sat1766
241          Keith Wong  6.011890e+15    Sat3880
242        Dennis Dixon  4.375220e+12      Sat17

[163 rows x 11 columns]
     total_bill   tip  gender smoker  day    time  size  price_per_person  \
0         16.99  1.01  Female     No  Sun  Dinner     2              8.49
1         10.34  1.66    Male     No  Sun  Dinner     3              3.45
2         21.01  3.50    Male     No  Sun  Dinner     3              7.00
3         23.68  3.31    Male     No  Sun  Dinner     2             11.84
4         24.59  3.61  Female     No  Sun  Dinner     4              6.15
..          ...   ...     ...    ...  ...     ...   ...               ...
238       35.83  4.67  Female     No  Sat  Dinner     3             11.94
239       29.03  5.92    Male     No  Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes  Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes  Sat  Dinner     2             11.34
242       17.82  1.75    Male     No  Sat  Dinner     2              8.91

             Payer Name     CC Number Payment ID
0    Christy Cunningham  3.560330e+15    Sun2959
1        Douglas Tucker  4.478070e+15    Sun4608
2        Travis Walters  6.011810e+15    Sun4458
3      Nathaniel Harris  4.676140e+15    Sun5260
4          Tonya Carter  4.832730e+15    Sun2251
..                  ...           ...        ...
238      Kimberly Crane  6.761840e+11    Sat9777
239       Michael Avila  5.296070e+15    Sat2657
240      Monica Sanders  3.506810e+15    Sat1766
241          Keith Wong  6.011890e+15    Sat3880
242        Dennis Dixon  4.375220e+12      Sat17

[163 rows x 11 columns]

 Pandas Useful Methods

In [ ]:
# Sort values by tip
print(df.sort_values('tip').head())

     total_bill   tip  gender smoker  day    time  size  price_per_person  \
67         3.07  1.00  Female    Yes  Sat  Dinner     1              3.07
236       12.60  1.00    Male    Yes  Sat  Dinner     2              6.30
92         5.75  1.00  Female    Yes  Fri  Dinner     2              2.88
111        7.25  1.00  Female     No  Sat  Dinner     1              7.25
0         16.99  1.01  Female     No  Sun  Dinner     2              8.49

             Payer Name     CC Number Payment ID
67        Tiffany Brock  4.359490e+15    Sat3455
236       Matthew Myers  3.543680e+15    Sat5032
92         Leah Ramirez  3.508910e+15    Fri3780
111         Terri Jones  3.559220e+15    Sat4801
0    Christy Cunningham  3.560330e+15    Sun2959

In [ ]:
# Sort in descending order
print(df.sort_values('tip', ascending = False).head())

     total_bill    tip gender smoker   day    time  size  price_per_person  \
170       50.81  10.00   Male    Yes   Sat  Dinner     3             16.94
212       48.33   9.00   Male     No   Sat  Dinner     4             12.08
23        39.42   7.58   Male     No   Sat  Dinner     4              9.86
59        48.27   6.73   Male     No   Sat  Dinner     4             12.07
141       34.30   6.70   Male     No  Thur   Lunch     6              5.72

          Payer Name     CC Number Payment ID
170    Gregory Clark  5.473850e+15    Sat1954
212  Alex Williamson  6.762190e+11    Sat4590
23    Lance Peterson  3.542580e+15     Sat239
59       Brian Ortiz  6.596450e+15    Sat8139
141   Steven Carlson  3.526520e+15   Thur1025

In [ ]:
# Calculate correlation between 'total_bill' and 'tip'
print(df['total_bill'].corr(df['tip']))
print(df[['total_bill', 'tip']].corr())

0.6757341092113641
            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

In [ ]:
# Find Index of max and min total bill

print("Max Total bill: ", df['total_bill'].max())
print("Index of Max Total Bill: ", df['total_bill'].idxmax())
print("Index of Min Total Bill: ", df['total_bill'].idxmin())

Max Total bill:  50.81
Index of Max Total Bill:  170
Index of Min Total Bill:  67

In [ ]:
# Get count of unique values in categorical columns
print(df['smoker'].value_counts())
print(df['gender'].value_counts())

smoker
No     151
Yes     93
Name: count, dtype: int64
gender
Male      157
Female     87
Name: count, dtype: int64

In [ ]:
# Map 'Dinner' to 'D' amd 'Lunch' to 'L' in time column
df['time_mapped'] = df['time'].map({'Dinner': 'D', 'Lunch': 'L'})
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID time_mapped
0  Christy Cunningham  3.560330e+15    Sun2959           D
1      Douglas Tucker  4.478070e+15    Sun4608           D
2      Travis Walters  6.011810e+15    Sun4458           D
3    Nathaniel Harris  4.676140e+15    Sun5260           D
4        Tonya Carter  4.832730e+15    Sun2251           D

In [ ]:
# Check for duplicates and drop them
print(df.duplicated().sum()) # Count of duplicate rows
df_no_duplicates = df.drop_duplicates()
print(df_no_duplicates.head())

0
   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID time_mapped
0  Christy Cunningham  3.560330e+15    Sun2959           D
1      Douglas Tucker  4.478070e+15    Sun4608           D
2      Travis Walters  6.011810e+15    Sun4458           D
3    Nathaniel Harris  4.676140e+15    Sun5260           D
4        Tonya Carter  4.832730e+15    Sun2251           D

In [ ]:
# Use between() to filter values between a range
filtered_df = df[df['total_bill'].between(10, 20, inclusive='both')]
print(filtered_df.head())

    total_bill   tip  gender smoker  day    time  size  price_per_person  \
0        16.99  1.01  Female     No  Sun  Dinner     2              8.49
1        10.34  1.66    Male     No  Sun  Dinner     3              3.45
8        15.04  1.96    Male     No  Sun  Dinner     2              7.52
9        14.78  3.23    Male     No  Sun  Dinner     2              7.39
10       10.27  1.71    Male     No  Sun  Dinner     2              5.14

            Payer Name     CC Number Payment ID time_mapped
0   Christy Cunningham  3.560330e+15    Sun2959           D
1       Douglas Tucker  4.478070e+15    Sun4608           D
8      Joseph Mcdonald  3.522870e+15    Sun6820           D
9        Jerome Abbott  3.532120e+15    Sun3775           D
10       William Riley  5.662880e+11    Sun2546           D

In [ ]:
# Samole Random Data
print(df.sample(5)) # Randomly sample 5 rows
print(df.sample(frac = 0.1)) # Randomly sample 10% of rows

     total_bill   tip  gender smoker   day    time  size  price_per_person  \
52        34.81  5.20  Female     No   Sun  Dinner     4              8.70
7         26.88  3.12    Male     No   Sun  Dinner     4              6.72
69        15.01  2.09    Male    Yes   Sat  Dinner     2              7.50
215       12.90  1.10  Female    Yes   Sat  Dinner     2              6.45
132       11.17  1.50  Female     No  Thur   Lunch     2              5.58

          Payer Name     CC Number Payment ID time_mapped
52      Emily Daniel  4.291280e+15    Sun6165           D
7        Robert Buck  3.514790e+15    Sun8157           D
69         Adam Hall  4.700920e+15     Sat855           D
215     Jessica Owen  4.726900e+12    Sat6983           D
132  Taylor Gonzalez  6.011990e+15   Thur7783           L
     total_bill    tip  gender smoker   day    time  size  price_per_person  \
119       24.08   2.92  Female     No  Thur   Lunch     4              6.02
57        26.41   1.50  Female     No   Sat  Dinner     2             13.20
230       24.01   2.00    Male    Yes   Sat  Dinner     4              6.00
58        11.24   1.76    Male    Yes   Sat  Dinner     2              5.62
130       19.08   1.50    Male     No  Thur   Lunch     2              9.54
158       13.39   2.61  Female     No   Sun  Dinner     2              6.70
212       48.33   9.00    Male     No   Sat  Dinner     4             12.08
167       31.71   4.50    Male     No   Sun  Dinner     4              7.93
189       23.10   4.00    Male    Yes   Sun  Dinner     3              7.70
170       50.81  10.00    Male    Yes   Sat  Dinner     3             16.94
241       22.67   2.00    Male    Yes   Sat  Dinner     2             11.34
50        12.54   2.50    Male     No   Sun  Dinner     2              6.27
25        17.81   2.34    Male     No   Sat  Dinner     4              4.45
52        34.81   5.20  Female     No   Sun  Dinner     4              8.70
53         9.94   1.56    Male     No   Sun  Dinner     2              4.97
141       34.30   6.70    Male     No  Thur   Lunch     6              5.72
107       25.21   4.29    Male    Yes   Sat  Dinner     2             12.60
115       17.31   3.50  Female     No   Sun  Dinner     2              8.65
47        32.40   6.00    Male     No   Sun  Dinner     4              8.10
235       10.07   1.25    Male     No   Sat  Dinner     2              5.04
65        20.08   3.15    Male     No   Sat  Dinner     3              6.69
13        18.43   3.00    Male     No   Sun  Dinner     4              4.61
200       18.71   4.00    Male    Yes  Thur   Lunch     3              6.24
145        8.35   1.50  Female     No  Thur   Lunch     2              4.18

          Payer Name     CC Number Payment ID time_mapped
119   Melanie Jordan  6.762120e+11   Thur8063           L
57      Melody Simon  4.745390e+15    Sat8980           D
230  Michael Osborne  4.258680e+12    Sat7872           D
58     Troy Guerrero  3.560780e+15    Sat6683           D
130   Seth genderton  2.131140e+14   Thur1446           L
158      Ashley Boyd  3.571090e+15     Sun982           D
212  Alex Williamson  6.762190e+11    Sat4590           D
167   Michael Lawson  3.566290e+15    Sun3719           D
189  Richard Stevens  3.560190e+15    Sun1821           D
170    Gregory Clark  5.473850e+15    Sat1954           D
241       Keith Wong  6.011890e+15    Sat3880           D
50     Jeremiah Neal  2.225400e+15    Sun2021           D
25    Robert Perkins  3.050290e+13     Sat907           D
52      Emily Daniel  4.291280e+15    Sun6165           D
53     Curtis Morgan  4.628630e+15    Sun4561           D
141   Steven Carlson  3.526520e+15   Thur1025           L
107     Jason Mullen  4.738780e+12    Sat5196           D
115      Kayla Stone  3.794940e+14    Sun8746           D
47      James Barnes  3.552000e+15    Sun9677           D
235    Sean Gonzalez  3.534020e+15    Sat4615           D
65      Justin Dixon  1.800210e+14    Sat6840           D
13      Joshua Jones  6.011160e+15    Sun2971           D
200     Jason Conrad  4.581230e+12   Thur6048           L
145        Amy Young  4.285450e+12   Thur9331           L

In [ ]:
# Get n largest and smallest values by 'tip'
print(df.nlargest(5, 'tip'))
print(df.nsmallest(5, 'tip'))

     total_bill    tip gender smoker   day    time  size  price_per_person  \
170       50.81  10.00   Male    Yes   Sat  Dinner     3             16.94
212       48.33   9.00   Male     No   Sat  Dinner     4             12.08
23        39.42   7.58   Male     No   Sat  Dinner     4              9.86
59        48.27   6.73   Male     No   Sat  Dinner     4             12.07
141       34.30   6.70   Male     No  Thur   Lunch     6              5.72

          Payer Name     CC Number Payment ID time_mapped
170    Gregory Clark  5.473850e+15    Sat1954           D
212  Alex Williamson  6.762190e+11    Sat4590           D
23    Lance Peterson  3.542580e+15     Sat239           D
59       Brian Ortiz  6.596450e+15    Sat8139           D
141   Steven Carlson  3.526520e+15   Thur1025           L
     total_bill   tip  gender smoker  day    time  size  price_per_person  \
67         3.07  1.00  Female    Yes  Sat  Dinner     1              3.07
92         5.75  1.00  Female    Yes  Fri  Dinner     2              2.88
111        7.25  1.00  Female     No  Sat  Dinner     1              7.25
236       12.60  1.00    Male    Yes  Sat  Dinner     2              6.30
0         16.99  1.01  Female     No  Sun  Dinner     2              8.49

             Payer Name     CC Number Payment ID time_mapped
67        Tiffany Brock  4.359490e+15    Sat3455           D
92         Leah Ramirez  3.508910e+15    Fri3780           D
111         Terri Jones  3.559220e+15    Sat4801           D
236       Matthew Myers  3.543680e+15    Sat5032           D
0    Christy Cunningham  3.560330e+15    Sun2959           D

# Grouping

# Group By Functionality
1. Splitting : The data is divided into groups based on the criteria provided.
2. Applying : A function ( or multiple functions) is applied to each group independently.
3. Combining : The results of the function applications are combined into a new DataFrame.

Grouping causes no changes to the output, only internally it makes group, the output effect is seen in applying phase where specific function is applied to specific groups or by groups.

In [ ]:
# 1. Splitting - Group by 'gender'
df_grouped = df.groupby('gender')
print(df_grouped.head())

    total_bill   tip  gender smoker  day    time  size  price_per_person  \
0        16.99  1.01  Female     No  Sun  Dinner     2              8.49
1        10.34  1.66    Male     No  Sun  Dinner     3              3.45
2        21.01  3.50    Male     No  Sun  Dinner     3              7.00
3        23.68  3.31    Male     No  Sun  Dinner     2             11.84
4        24.59  3.61  Female     No  Sun  Dinner     4              6.15
5        25.29  4.71    Male     No  Sun  Dinner     4              6.32
6         8.77  2.00    Male     No  Sun  Dinner     2              4.38
11       35.26  5.00  Female     No  Sun  Dinner     4              8.82
14       14.83  3.02  Female     No  Sun  Dinner     2              7.42
16       10.33  1.67  Female     No  Sun  Dinner     3              3.44

            Payer Name     CC Number Payment ID time_mapped
0   Christy Cunningham  3.560330e+15    Sun2959           D
1       Douglas Tucker  4.478070e+15    Sun4608           D
2       Travis Walters  6.011810e+15    Sun4458           D
3     Nathaniel Harris  4.676140e+15    Sun5260           D
4         Tonya Carter  4.832730e+15    Sun2251           D
5           Erik Smith  2.131400e+14    Sun9679           D
6   Kristopher Johnson  2.223730e+15    Sun5985           D
11        Diane Macias  4.577820e+15    Sun6686           D
14       Vanessa Jones  3.001670e+13    Sun3848           D
16    Elizabeth Foster  4.240030e+15    Sun9715           D

In [ ]:
# 2. Applying - calculate various statistics for 'tip' by 'gender'
mean_tip_by_gender = df_grouped['tip'].mean() # Mean tip by gender
print(mean_tip_by_gender)

gender
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

In [ ]:
# 3. Combining - Group by both 'gender' and 'day'
df_grouped_day = df.groupby(['gender', 'day' ])
mean_tip_by_gender_day = df_grouped_day['tip'].mean() # Mean tip by gender and day
print(mean_tip_by_gender_day)

gender  day
Female  Fri     2.781111
        Sat     2.801786
        Sun     3.367222
        Thur    2.575625
Male    Fri     2.693000
        Sat     3.083898
        Sun     3.220345
        Thur    2.980333
Name: tip, dtype: float64

In [ ]:
# 4. Aggregation with multiple functions
df_grouped_agg = df.groupby(['gender','day']).agg({'tip': ['mean', 'max', 'min', 'sum']})
print(df_grouped_agg)

                  tip
                 mean    max   min     sum
gender day
Female Fri   2.781111   4.30  1.00   25.03
       Sat   2.801786   6.50  1.00   78.45
       Sun   3.367222   5.20  1.01   60.61
       Thur  2.575625   5.17  1.25   82.42
Male   Fri   2.693000   4.73  1.50   26.93
       Sat   3.083898  10.00  1.00  181.95
       Sun   3.220345   6.50  1.32  186.78
       Thur  2.980333   6.70  1.44   89.41

In [ ]:
df_grouped_agg = df.groupby(['gender','day']).agg({'tip': ['mean', 'max', 'min', 'sum']}).reset_index() # Always remember to reset index after grouping opertation
print(df_grouped_agg)

   gender   day       tip
                     mean    max   min     sum
0  Female   Fri  2.781111   4.30  1.00   25.03
1  Female   Sat  2.801786   6.50  1.00   78.45
2  Female   Sun  3.367222   5.20  1.01   60.61
3  Female  Thur  2.575625   5.17  1.25   82.42
4    Male   Fri  2.693000   4.73  1.50   26.93
5    Male   Sat  3.083898  10.00  1.00  181.95
6    Male   Sun  3.220345   6.50  1.32  186.78
7    Male  Thur  2.980333   6.70  1.44   89.41